<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064640355987-441cj0r82d55sdorp381locn5vqbsqk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064640355987-441cj0r82d55sdorp381locn5vqbsqk6</string>
	<key>API_KEY</key>
	<string>AIzaSyAkuWKHvaRUjTFzv3F7FlkS865vcinsvKw</string>
	<key>GCM_SENDER_ID</key>
	<string>1064640355987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuwenyeh.PetDiary</string>
	<key>PROJECT_ID</key>
	<string>petdiary-1e635</string>
	<key>STORAGE_BUCKET</key>
	<string>petdiary-1e635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064640355987:ios:2afe88ddf38d25152ff766</string>
</dict>
</plist>